.completed {
    border-width: 1px;
    border-color: black;
    border-style: solid; 
    padding: 2px;
    width: 300px;
    height: 600px;
}

.task3 {
    border-style: solid;
    border-width: 1px;
    background-color: green;
}